/* Make dropdown background and text grey */
.Select__control {
    background-color: #2d2d2d !important;
    color: #5fad8f !important;
    border-color: #555 !important;
}

/* Control the text color of selected option */
.Select__single-value {
    color: #ffffff !important;
}

/* Dropdown menu (options list) */
.Select__menu {
    background-color: #2d2d2d !important;
    color: #690909 !important;
}

/* Dropdown option on hover */
.Select__option--is-focused {
    background-color: #06073b !important;
}

/* Dropdown option selected */
.Select__option--is-selected {
    background-color: #052515 !important;
}


@media (max-width: 767.98px) {
    .card-stack-gap {
        margin-bottom: 15px !important;
    }
}
